[2017-08-09 07:22] Mantak opened #1 "saga can't get action's result on server"
these code can both print on client, but only one on server

file 1 // someSaga.js
if ( true ) {
  dispatch({type: 'HELLO'})
}
file 2 // someReducer.js
    case 'HELLO': {
      console.log('i can print'');
    }
file 3// someSaga.js
    takeLatest('HELLO', ()=> console.log('i can't print'))

[2017-08-09 12:11] Mantak commented on #1
the question is :
saga1 -> put({type: 'abc'})  ->  saga2
when render on server:
if saga1 put an action to start saga2,  the application don't wait this

[2017-08-09 13:01] bmealhouse commented on #1
@Mantak Thanks for submitting this issue.  I will take a look when I have a chance.  PRs are welcome.

[2017-08-11 17:17] bmealhouse commented on #1
@Mantak - I'm still not sure how to handle this, but I believe it needs be handled in the logic of your sagas.  I added a comment to [this](https://github.com/redux-saga/redux-saga/issues/255#issuecomment-321860304) thread to see if others have solved this problem.

[2017-08-12 08:36] Mantak commented on #1
@bmealhouse  Thank you for your effort

[2017-09-02 08:44] tronghiep92 opened #2 "How run saga background task in server?"
Hi Brent,
Thank you so much for the package, it helped me a lot.
But I have a small problem.
I'm cloned example https://github.com/zeit/next.js/tree/master/examples/with-redux-saga and changed in file `saga.js`
[code]
to

[code]
It still works well. Because I want to load initial data in server for all pages.
But checked Network tab in the browser, I found out `fetch https://jsonplaceholder.typico

[2017-09-02 13:32] bmealhouse commented on #2
@tronghiep92 - Using `fork` will not achieve that behavior.

In your code example, `fork` is getting called on the server, but redux-saga's `END` action is causing the server to return a response to the client, before `loadDataSaga` can return it's results.  Since no results are sent to the client, the data is fetched again from the client-side.

For sever-side rendering to work, you need to put y

[2017-09-02 14:20] tronghiep92 commented on #2
@bmealhouse
Thank you, I solved the problem.

[2017-09-02 14:37] bmealhouse commented on #2
@tronghiep92 - Did you use a HOC or come up with a different solution?

[2017-09-02 14:55] tronghiep92 commented on #2
@bmealhouse
I'm using `process.browser`. Do nothing if it is on the client.

[2017-09-02 15:04] bmealhouse commented on #2
@tronghiep92 - Thanks for sharing.

So the data was returned from the server using `fork`, but it was also getting requested on the client.  That make sense.  Sorry for the confusion in my initial response.

Glad you found a solution!

[2017-09-02 15:04] #2 closed

[2017-12-29 23:31] JerryCauser opened #3 "page renders before sagaTask is done"
When we navigate through the pages "next-redux-saga" isn't waiting full loading of getInitialProps. This raises the problem of a "blinking page". When I click link (on gif it will be githab pages) on already loaded page - it show the page instantly, but data will load in 1-2 sec after that. It's not correct in most cases, bcs I wanna show the page with already loaded data. If we will load load pag

[2017-12-30 05:19] bmealhouse commented on #3
Hi @JerryCauser, thanks for submitting this issue & PR.

I have the page loading immediately on purpose, to provide instant feedback to the user. Data that is loading asynchronously on the client should use a spinner or loading message to notify the client.

I'm not against providing an alternative way to handle routing with async data, however, I don't think this should replace the existing defau

[2017-12-30 19:11] JerryCauser commented on #3
Yeah, of course. Backwards compatibility in priority. I accent on that trouble because redux-observable, redux-thunk and redux-promise-middleware (and all "promise like" middlewares) have same scenario of lifecycle with awaiting on client side as I decrived before.

Yeah, of course. I have also 2 ideas in addition to yours.
1. Make @decorator `withReduxSaga` smarter and give him possibility to get

[2017-12-31 04:56] bmealhouse commented on #3
Thanks again for pointing this out.  I did some more research on how Next.js works out of the box and in their data-fetch example, it does wait for `getInitialProps` to finish loading before transitioning to the new route.  If that is how the other projects you mentioned work as well, I think it's better to break the API for `next-redux-saga` to be consistent with the community.

That being said,

[2018-01-27 09:56] JerryCauser commented on #3
done, sorry for the delay.
check the tests (are they ok?) and review pr https://github.com/bmealhouse/next-redux-saga/pull/4

[2018-01-27 19:14] bmealhouse commented on #3
Thanks for your work @JerryCauser, this is great!  Closed by #4.

There is also bunch of cleanup I need to do on this repo before publishing the 2.0.0 release.  I will try to get those things done in the next couple days.

[2018-01-27 19:14] #3 closed

[2018-01-27 19:15] bmealhouse commented on #1
Closing this issue.  Please refer to my previous comment for solution.

[2018-01-27 19:15] #1 closed

[2018-01-31 17:14] virzak opened #5 "Typescript definitions"
Hello,

Are typescript definitions available for this project?

[2018-01-31 17:21] bmealhouse commented on #5
No they aren't.  Are you interested in making a PR to add them?

[2018-01-31 20:58] bmealhouse commented on #3
@JerryCauser v2.x is now published! 🎉

Thanks again for your contribution.

[2018-04-13 15:51] crizant opened #6 "Actions are lost after END is dispatched"
Hi, I'm using `next-redux-saga` in sync mode, and I have an issue:
I see that in [`index.js`](https://github.com/bmealhouse/next-redux-saga/blob/master/index.js) line 21, it waits the saga tasks to be done, and restarts saga after that.
So that the actions dispatched between `END` is dispatched and the restart of saga, will not be processed by saga.

Is there any way to store those actions, and pa

[2018-04-14 01:29] bmealhouse commented on #6
Hi @crizant, good question. I'm not sure if this is possible. Can you share a code example that reproduces the issue?

Also, if you come up with a solution to the problem, feel free to submit a PR.

[2018-04-14 03:00] crizant commented on #6
@bmealhouse Here it is:
https://github.com/crizant/next-redux-saga-issue

I am thinking about patching the `dispatch` function of the store, so that when it sees the `END` action,
Stop calling the real `dispatch` and store the subsequent actions in a queue.
Then after all saga task are done, dispatch the queued actions.

What do you think of my approach?

[2018-04-14 03:10] crizant commented on #6
Alternatively, could this problem by solved by using action channels?
But after reading all documentation I still have no clue, I am just a newbie on `redux-saga`. =[

[2018-04-14 11:59] bmealhouse commented on #6
stop calling the real dispatch and put the subsequent actions in a queue. Then after all saga tasks are done, dispatch another action (i.e. @@redux-saga/TasksDone) in next-redux-saga. When it sees the action, call the real dispatch to dispatch the queued actions.

This is an interesting idea. You may be able to accomplish the same functionality in a redux middleware. Then you wouldn't have to worr

[2018-04-14 12:16] crizant commented on #6
I can’t use async mode, since my application is like a blog, when using async mode and navigate from one article to another, the componentDidMount and routeChangeComplate callbacks will be executed immediately.
But I have other actions, like other api calls, google analytics etc, should be executed after the page data is loaded and dom is updated.
Therefore sync mode is my only option.

I will tak

[2018-04-14 17:25] bmealhouse commented on #6
Check out my solution using channels. As you can see it's really convoluted.
[https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-channels](https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-channels)

[2018-04-14 17:53] crizant commented on #6
Sure, it is not really solving the problem.
In real world application there should be actions being fired anytime. And any saga functions requests api could be causing this problem.
I think the middleware approach would be better.

[2018-04-14 19:58] bmealhouse commented on #6
Yes, channel code is very tightly coupled to the use case. It has to be like this due to how `END` works. Let me know if you have any luck with the redux middleware approach. I will do some experimentation as well.

Have you considered any other async state management libraries that might be better suited for the application you are trying to build?

[2018-04-15 03:11] crizant commented on #6
Actually my application is on production already, I am just trying to fix bugs.
It is too late to move to other libraries. =[

[2018-04-15 05:44] bmealhouse commented on #6
@crizant, I did some experimentation and came up with a nice middleware to solve your problem.
[https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-middleware](https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-middleware)

I called it `record-replay-middleware`. All it does is record actions that have been dispatched after the saga has ended, and then, when the sa

[2018-04-15 06:06] crizant commented on #6
In this case, the actions will pass through reducers twice, right?
This may cause side effects.

[2018-04-15 11:51] bmealhouse commented on #6
Oh duh, good point.

In that case, we need to use a custom `redux-saga` emitter instead.
{https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-emitter](https://github.com/bmealhouse/next-redux-saga-issue/tree/redux-saga-emitter)

It uses the same technique as before, but instead of re-dispatching actions, it only emits them to `redux-saga`.

[2018-04-15 12:06] crizant commented on #6
It works perfectly! Thank you!
Could you please include the emitter in `next-redux-saga`?

[2018-04-28 17:31] gl2748 opened #7 "Has this issue: https://github.com/zeit/next.js/issues/3108"
This repo at master is currently getting the error described here:
https://github.com/zeit/next.js/issues/3108

[2018-05-04 13:26] RobbinHabermehl opened #8 "Next.js v6 compatibility"
Unfortunately `next-redux-saga` doesn't seem to be compatible out of the box with Next.js v6 and `next-redux-wrapper` v2.0.0-beta.4. When configuring the `_app.js` as documented the context isn't being set.

`_app.js`:
[code]

This results in the following error:
[code]

Using just `next-redux-wrapper` is working, but results in a race condition that often causes sagas not to have been completed b

[2018-05-04 14:00] bmealhouse commented on #8
@RobbinHabermehl - Thanks for reporting this issue. I'm not sure how quickly I will be able to get to it, but we accept PRs if you want to take a look.

[2018-05-04 19:54] RobbinHabermehl commented on #8
I've fixed the issue and created PR #9 for this. There's still some work left though, so please feel free to help me out on getting this ready to release! :)

[2018-05-04 21:02] bmealhouse commented on #8
I appreciate it! I will try to look at the PR tonight.

[2018-05-08 05:50] bmealhouse commented on #8
Closed by #9

[2018-05-08 05:50] #8 closed

[2018-05-18 00:27] Qeneke opened #10 "TypeError: Converting circular structure to JSON"
**_app**

[code]

**configureStore**
[code]
**rootSaga**
[code]

i get an error _TypeError: Converting circular structure to JSON_
if I remove _next-redux-saga_ and _store.runSagaTask();_ from the code the error is fixed

[2018-05-18 01:08] bmealhouse commented on #10
@Qeneke - Thank you for submitting this issue. Are you intersted in working on a PR to fix this? If not, can you please setup a repository that reproduces the issue?

[2018-05-20 13:40] bmealhouse commented on #7
@gl2748 - Do you know if this a `next-redux-saga` issue or is it something that needs to be fixed in Next.js?

[2018-06-01 23:40] #7 closed

[2018-09-06 16:13] arfa opened #15 "state lost on the client side"
I had an issue when I setup up `next-redux-saga`

My page renders properly on Server side and correct html is sent to client.
The issue here is on client side, my page renders again and the state on client side seems to be different from that of server.

I fixed that when I specified `preloadedState`.
(I was not using an `preloadedState` for my app as it is optional. the reducers initiate my store

[2018-09-10 11:13] arfa commented on #15
in the sample you are giving in [this repository ](https://github.com/bmealhouse/next-redux-saga)

In `next-redux-saga/test/store/configure-store.js`,
try to remove `initialState` from the `createStore` function.

You will get an error !

in this [comment](https://github.com/reduxjs/redux/issues/1189#issuecomment-168025590) Dan Abramov said: **You can pass the whole initial state tree as a second

[2018-09-11 13:22] sagarpatel8384 opened #16 "Saga argument must be a Generator function"
I'm getting the following error when try to run my application with next-redux-saga:

[code]

**Here is my rootSaga file**

[code]

**Here is my homeSagas file**

[code]

**Here is my store.js file**

[code]

**And finally, here is my _app.js file**

[code]
I've tried everything. Not sure where I'm going wrong here.

[2018-09-12 17:59] sagarpatel8384 commented on #16
I've been spinning my wheels on this for a while now with no real results. Any thoughts?

[2018-09-13 05:28] bmealhouse commented on #16
@sagarpatel8384 - I looked at this briefly and I'm not able to reproduce.

I copied/pasted your code directly into a new project and everything is working fine for me. Take a look here: https://github.com/bmealhouse/nrs-issue-16

[2018-09-13 12:31] sagarpatel8384 commented on #16
Strange. I'll give it a shot building it from the ground up and report back. Possibly caused by a another dependency. Thanks

[2018-09-13 19:52] sagarpatel8384 commented on #16
Thanks, @bmealhouse. I used your version and everything seems to work fine now (even after I updated your code to my directory structure). Really odd but works now. Thanks.

[2018-09-13 19:52] #16 closed

[2018-09-14 00:38] bmealhouse commented on #15
@arfa - I will update the docs. Thanks for pointing that out.

[2018-09-14 00:39] #10 closed

[2018-09-14 01:28] #15 closed

[2018-09-18 20:16] richbai90 commented on #5
Here is a very simple typing that seems to do the job at least for the basic setup. I'm using it in my app with no problems.

[code]

[2018-09-23 12:53] bmealhouse commented on #5
Thanks for sharing @richbai90.

[2018-10-02 02:38] leocavalcante commented on #5
Thanks @richbai90
I slightly modified to:
[code]

Because of `next-redux-wrapper` expecting a `ComponentType<P = {}>`.

[2018-10-02 02:42] bmealhouse commented on #5
If either of you are interested, feel free to submit a PR to definitely typed.

[2018-10-05 17:48] flavordaaave commented on #6
@bmealhouse Thanks for your suggested solutions using either a middleware or an emitter.
Unfortunately for me only the middleware approach is working. Basically I have 2 sagas. One to fetch a config file from remote and a second one that needs a URL from the config file to fetch some products. Any idea why I can't get the emitter solution working with the following basic setup?

[code]
[code]
[cod

[2018-10-08 18:45] leocavalcante commented on #5
I think you can close this now ;)

[2018-10-09 02:46] bmealhouse commented on #5
Much appreciated @leocavalcante!

[2018-10-09 02:46] #5 closed

[2018-10-10 19:29] ivanakimov opened #18 "Complete example of calling API on backend with multiple sagas?"
I've found this: https://github.com/redux-saga/redux-saga/issues/255#issuecomment-323747994

But it's not enough to understand how the execution of the page is paused until API call finishes (and at which point do you call `dispatch(END)` -- at the end of `getInitialProps`?). When I try to make it work with an actual API call, I get this:

[code]

Are there any examples of using `next-redux-saga`

[2018-10-11 04:49] bmealhouse commented on #6
Sorry @flavordaaave, I haven't been able to get to your question yet. I don't use redux-saga anymore so it will take me a bit of time to get back up to speed with this. Unfortunately, I won't have time to check it out for another 2-3 weeks.

[2018-10-11 04:56] bmealhouse commented on #18
Sorry @ivanakimov, unfortunately I won't have time to check out this issue for another 2-3 weeks. The `next-redux-saga` repo itself has an example app with async sagas. Just clone the repo and run `yarn start`. Is this sufficient?

If not, you can also check out the example in the [Next.js repo](https://github.com/zeit/next.js/tree/canary/examples/with-redux-saga).

[2018-10-11 13:19] flavordaaave commented on #6
@bmealhouse no worries. As mentioned I found a solution so no need for you to look into this at all. Thanks anyways.

[2018-10-11 17:44] ivanakimov commented on #18
Thank you for the quick response @bmealhouse.

I think the issue is the counter example is not too "real-world". If it could pull from some API, and then call another saga (all on the backend, and only then issue `@@redux-saga/CHANNEL_END` to respond to the client) - that would be very useful.

Anyway, I know everyone's time is limited. I'm going to close this issue since it was more of a question

[2018-10-26 01:58] ivanakimov opened #19 "How does server wait for async dispatches?"
I might've missed this somewhere, but not sure I understand. If I run `withReduxSaga` in sync mode, and have a bunch of `dispatch` calls in `getInitialProps`, how does `next-redux-saga` know when they are all done on the server side so it can render the app and respond with it?

My sample code is working as expected for now, but I want to be sure it's not just timing luck (so that production reque

[2018-10-27 13:07] bmealhouse commented on #19
Hi @ivanakimov -

When `next-redux-saga` runs on the server it dispatches `END`, which allows all your dispatch calls to complete before sending a response to the client. [(source)](https://github.com/bmealhouse/next-redux-saga/blob/master/index.js#L25-L26)

Does that help?  Let me know if you have any other questions.

[2018-10-27 19:00] ivanakimov commented on #19
Thanks for the explanation @bmealhouse. I might be a little bit confused then about how `dispatch`es work. If I dispatch lots of my custom actions in my `getInitialProps` (and some of them make API requests), and then your last `dispatch(END)` happens -- does it work because dispatch actions are queued up and your `END` is guaranteed to be last? Are there any scenarios where some dispatches might

[2018-10-28 12:45] bmealhouse commented on #19
@ivanakimov - When `END` is dispatched, it triggers the root saga to shutdown, however, the root saga cannot shutdown, until all of its dependencies (async requests) have resolved. As long as you dispatch all your async actions before `END` is dispatched (which you are, by using `getInitialProps` from Next.js), then those async actions are guaranteed to finish processing on the server before a res

[2018-10-31 14:19] abelta commented on #18
Can we reopen this one?
I agree that it's difficult to translate the given example into an API call.
Either that or I'm doing something wrong but I can't make it work for me.

[2018-11-01 04:16] bmealhouse commented on #18
@abelta - We can open this back up, but I won't have much time to work on this in the coming weeks.

If either of you (@ivanakimov, @abelta) are interested in getting a PR started, I'd be happy to work with you to get this merged.

[2018-11-02 11:28] abelta commented on #18
@bmealhouse I would gladly provide a PR but I'm not even sure if it's a bug in the library or something I'm doing wrong.
What I've noticed so far is that I can delay execution of rendering with getInitialProps for one action but not for two. In the case of a call to API you would normally use at lest two actions: one where the call is requested and a second one when it's been resolved as successfu

[2018-11-02 23:59] bmealhouse commented on #18
@abelta - Just open up a PR with what you have so far. I will take a look at it and help you get everything working. You may need to give me commit access to your forked repository. Let me know if you have any questions.

[2018-11-05 13:45] abelta commented on #18
@bmealhouse Not as a PR but I've repoed the example project I'm working on and you can find it here: https://github.com/abelta/pokedex-next
In *pages>index.js*, in the _getInitialProps_ method is where I'm trying to trigger an action that should retrieve the data from a web service.
I know for a fact that it works in browser mode but in the case of consecutive calls to sagas, it stop after the fir

[2018-11-05 15:46] bmealhouse commented on #18
@abelta - At first glance (without running this on my laptop), I noticed you are using **spawn** in all your sagas. This does not work with server-side rendering so you’ll have to use **fork** instead.

Spawn creates a detached task and it’s not guaranteed to complete before the server returns a response to the client.

[2018-11-07 07:54] abelta commented on #18
You are right. Changing `spawn` for `fork` and changed `getInitialProps` to be an async function and it works beautifully now. Thank you.

[2018-11-08 23:01] bmealhouse commented on #18
That’s great! Are you still interested in submitting a PR with your example?

[2018-11-22 14:15] ussuritiger opened #20 "Accessing state after dispatching an action inside getInitialProps"
I need to set an HTTP status inside `getInitialProps` based on data fetched by dispatching an action. So basically I need to execute the following actions synchronously:
1) Dispatch an action to fetch data
2) Based on state (fetched data) I need to adjust HTTP response status code

Since dispatching an action that will be picked up by saga is done asynchronously, I've ended up with the following:

[2019-01-13 16:50] iasinov commented on #18
@bmealhouse hi! Thank you for the HOC!
In the demo app only root reducer & root saga are being used.
I'm trying to inject dynamically reducers and sagas to the components.
The idea is to initialize the component like this:
[code]
As for the reducers, it was quite easy by using something like:
[code]
and modifying configureStore to
[code]
But I cannot find a way to inject sagas similar way. When tr

[2019-01-20 21:32] cJayyy commented on #20
I am stuck in the same problem.
Looking forward to see any better solution.

@ussuritiger thanks for pointing out this workaround.

[2019-01-25 17:32] jbox5 opened #26 "Using NextJS router.push from within saga stops working with next-redux-saga"
Hi,

I've got a really simple saga that does nothing other than use NextJS 7 router and does a Router.push (using `call(Router.push, '/mypath')`).
However, the navigation does not happen.  If I remove the 'withReduxSaga' HOC wrapper from my _app.js it begins working again.

Is there anything special I have to do when using next-redux-saga to make this work?

Thanks,
J.

[2019-01-25 18:47] robert-barcelona opened #27 "Problems with Next.js redux-saga sample code when redux-saga version is changed to ^1.0.0"
I don't know if this is related to next-redux-saga or not -- but when I tried to move the Next.js redux-saga sample code, which relies on next-redux-saga, to my project, it didn't work.  The only difference I could see was that the sample code uses redux-saga 0.16.0 and my project uses ^1.0.0.  When I switched my project to use redux-saga 0.16.0 it worked fine.

I was tracing through the output an

[2019-01-25 19:30] bmealhouse commented on #20
Sorry for the late response @ussuritiger. I don't use redux-saga anymore, so I'm probably not the best person to answer your question. I'll leave this issue open and let others from the community chime in if they have any advice.

[2019-01-25 19:34] bmealhouse commented on #26
Hi @jbox5, thanks for submitting the issue. Unfortunately, I don't have any time to devote to this project at the moment, but I'm happy to accept PRs or share commit rights with those interested in supporting `next-redux-saga`.

Please see the [contributing docs](https://github.com/bmealhouse/next-redux-saga#contributing) to get started.

[2019-01-25 19:34] bmealhouse commented on #27
Hi @robert-barcelona, thanks for submitting the issue. Unfortunately, I don't have any time to devote to this project at the moment, but I'm happy to accept PRs or share commit rights with those interested in supporting `next-redux-saga`.

Please see the [contributing docs](https://github.com/bmealhouse/next-redux-saga#contributing) to get started.

[2019-01-26 12:42] robert-barcelona commented on #27
Hi @bmealhouse  -- I forked the code and went through it.  I've never edited an NPM package before but I'm happy to do so.  Is 'index.js' the only file which constitutes the package?  The only reference to 'done' in this file that I can find is line 26
`        await store.sagaTask.done`
I changed this to

`        await store.sagaTask.toPromise`
but it didn't seem to make any difference.

As said

[2019-01-26 14:04] robert-barcelona commented on #27
@martinkadlec0  -- Thanks, done and it seems to work.  I've created a pull request ...

[2019-01-27 15:45] bbortt commented on #27
Yes, we should update the `package.json` - currently all dependencies are listed as dev.. I'm starting a branch [here](https://github.com/bbortt/next-redux-saga/tree/feature/update_dependency_listing_in_package_json).

[2019-01-29 10:44] robert-barcelona opened #31 "Inconsistent behaviour with redux-saga 1.0.0 and next-redux-saga patched for this version"
I patched next-redux-saga to satisfy the requirements for the new version (1.0.0) of redux-saga, that is, I changed references o `done` to `toPromise()`, and symlinked the patched version to my project.

Since then the behaviour is very inconsistent.  While my app will often function on first build and load, page reloads will not load the data correctly -- it would appear that the saga, while call

[2019-01-29 11:40] Andarist commented on #27
I'm maintainer of redux-saga and we got a report [here](https://github.com/redux-saga/redux-saga/issues/1743#issuecomment-458461702) about broken integration with this package.

I'd like to help, but I would have to understand how things work here first. I understand that you (@bmealhouse) have limited time and probably no interest in maintaining this package anymore, but maybe you could shed some

[2019-01-29 13:20] bmealhouse commented on #27
Thank you all for helping out on this.

@Andarist - the only reason we are ENDing the saga on the client, is to provide consistent behavior with how Next.js works out if the box. We call that “sync” mode and it’s the default for next-redux-saga. However, there is an option to use “async” mode, which does not END the saga on the client (this is my preferred way of using next-redux-saga).

Does that

[2019-01-29 13:58] Andarist commented on #27
To some extent - yes 😅 It's good that "async" mode works without dispatching END on the client.

The followup question would be - how would the behaviour change if we would just do the async mode the default? How sync and async differ?

[2019-01-29 14:40] bmealhouse commented on #27
We decided to make “sync” the default because that matches more closely to how Next.js works out of the box. I’m fine with changing the default to “async” if that is the recommended approach for redux-saga.

The difference between “sync” and “async” is mostly related to route changes. After clicking a link, “sync” waits for sagas to END, then changes to the new route. “async” will immediately perf

[2019-01-29 18:37] bbortt commented on #27
Besides changing the default to async.. @Andarist can you explain me why ` await store.sagaTask.toPromise()` seems not to do the same job as `await store.sagaTask.done`?

[2019-01-29 18:55] Andarist commented on #27
It does the same. The problem here is that in previous version of redux-saga each saga got its own instance of internal stdChannel (its a channel which receives dispatched actions from redux and which is used to resolve `take` effects). However using 1 stdChannel per saga lead to some scheduling edge cases which we couldn't cover with it.

Conceptually we need only a single stdChannel (multicast)

[2019-01-29 20:18] bbortt commented on #27
Ah that clarifies it for me. Thank you very much.
So in case of the synchronous client we would have to recreate instead of just restart the channel, am I right?
Are you under pressure or is it ok if I try to implement this?

[2019-01-29 20:21] Andarist commented on #27
Actually - I'd prefer you implementing this, because I have no Next.js experience and I don't quite grasp all repercussions that refactor could have.

Yes, exactly.

[2019-02-07 09:23] ezhlobo commented on #27
@bbortt if there is a way that you can split these changes into a list of items, that would be awesome. This way others will be able to help you with the problem.

For now it's hard to understand what's left to make it work.

[2019-02-07 16:59] bbortt commented on #27
Hi @ezhlobo

Glad you'd like to help. We're currently stuck because there seems to be no way of restarting a closed redux-saga channel at the moment.
Take a look at [this conversation](https://github.com/bbortt/next-redux-saga/pull/1) for more detailed information.

[2019-02-07 22:18] bmealhouse commented on #27
@bbortt - Does it help to just remove support for `sync` mode and force the next major version of `next-redux-saga` to only work with `async` mode?

[2019-02-08 13:41] bbortt commented on #27
Yes, this basically is the problem @bmealhouse ..

[2019-02-08 14:24] bmealhouse commented on #27
@bbortt - I’m ok with dropping support for sync mode, especially since redux-saga is designed to run async.

It would also simplify the API of next-redux-saga as there would be no configuration options.

Thanks for all your help on this. Much appreciated!

[2019-02-08 14:33] bbortt commented on #27
@bmealhouse No problem at all :)
Then we just need to stop saga on the server, right? I've updated the pull-request..

[2019-02-08 14:39] bbortt commented on #31
@robert-barcelona I think we're removing sync-mode. Keep track of [this pull-request](https://github.com/bmealhouse/next-redux-saga/pull/44/files).

[2019-02-08 14:39] #31 closed

[2019-02-08 14:47] bbortt commented on #20
@ussuritiger I know this is a very old thread, but here are my thoughts.
First of all, using redux-saga in synchronous mode will no longer be possible starting from `redux-saga: 1.0.0`. A closed stdChannel (`store.dispatch(END)`) cannot be reopened.
Second, what you try there is very much against the idea of redux-saga. It is designed to handle side effects *asynchronously*. The most common way to

[2019-02-08 14:50] bbortt commented on #26
Hi @jbox5
Are you sure you're on the client side of your application? You need to redirect using `req.redirect('some-url')` on the server side. You can detect the current context using `ctx.isServer` withing `#getInitialProps`.

[2019-02-08 15:13] cJayyy commented on #20
@bbortt But how would you initiate async props if not inside `getInitialProps`?

[2019-02-08 17:56] bbortt commented on #20
@cJayyy I think `getInitialProps` is still the right place to trigger sagas. This is what you're asking for if i understand you right?
Sagas will then load the data and dispatch another event, for example `FETCH_SUCCESS`. This event then reduces an updated state. And thanks to how react works this will update the data in your component.
Subscribe to the store if you need the data right away.
[code

[2019-02-08 18:15] cJayyy commented on #20
@bbortt That's right, but my question was rather about how can we load async data before render (and in this case - on a server-side)?
The best solution is currently to use `getInitialProps` but since we dispatch action (which obviously doesn't block the flow of `getInitialProps`) we can't track the state of async function therefore component starts rendering without any chance to know if the asyn

[2019-02-08 19:49] dorian-marchal commented on #20
@cJayyy: Expanding on @bbortt example:

[code]
[code]
[code]

This way, `getInitialProps` only resolves when your data are fetched.

[2019-02-08 20:51] ussuritiger commented on #20
Thanks guys for sharing. Solution described by @bbortt and @dorian-marchal looks optimal and indeed adhere to the nature of redux-saga. I've tried it and it works well for me.

I will close this issue however it is open for any other ideas.

[2019-02-08 20:51] #20 closed

[2019-02-09 21:14] etiennemtl opened #45 "Kea-saga"
Hi guys, some help would be appreciated here, i'm trying to integrate kea-saga with your library. The probleme is the saga is never run when the page is loaded via SSR. I've made an example [here](https://github.com/etiennemtl/next.js/tree/with-kea-saga/examples/with-kea-saga). Maybe you could guide to the last bit that I miss.

[2019-02-10 10:59] bbortt commented on #20
thank you @dorian-marchal I've probably kept my explanation a little to short :)
glad we could help @ussuritiger

[2019-02-10 11:19] bbortt commented on #45
Hi @etiennemtl
This library is currently not compatible with `react-redux: 1.0.1`. Try `"redux-saga": "0.16.2"` and take a look at [this pull-request](https://github.com/bmealhouse/next-redux-saga/pull/44) for more information.
Apart from this, why are you using `axios` and `isomorphic-unfetch` at the same time? I'd suggest you to choose one of them :)

[2019-02-10 14:32] etiennemtl commented on #45
I dowgraded the version of `redux-saga` to `0.16.2`, but now the application is just in a continuous loop when requesting the page.

**Edit:** I've removed `isomorphic-unfetch`, I've started the example from the `with-kea` example and forgot to removed the dependencie. Good catch! :)

[2019-02-13 17:55] bbortt commented on #27
We finally managed to push to `redux-saga: 1.0.0`. Stay tuned for the next release.

[2019-02-13 17:55] #27 closed

[2019-02-13 17:55] bbortt commented on #45
Are you fine if I take a look at this again if version 4.0 is out? It contains API breaking changes..

[2019-02-13 18:00] etiennemtl commented on #45
Yes makes sense!

I've been investigating a bit more the issue on my side and I have been able to make the saga run server-side, but then the saga are not registered client side and thus then are not fired when an actions is dispatch. I had to modify a bit the `hoc` function to make this work in order to activate the `kea-saga` plugin. My guess is that it's probably just a matter of registering th

[2019-02-13 23:49] bmealhouse commented on #27
@bbortt  @ezhlobo - v4 has been released.

[2019-02-14 07:08] bbortt commented on #27
Thank you @bmealhouse !

[2019-02-16 09:34] janjarfalk commented on #27
I think there is an issue with the latest version of `next-redux-saga` and/or the example implementation of it in the next.js repo - https://github.com/zeit/next.js/tree/canary/examples/with-redux-saga.

I created an issue in the next.js repo - https://github.com/zeit/next.js/issues/6308 - yesterday and then later found this thread.

The issue regarding inconsistent data feels related to above dis

[2019-02-16 13:23] bmealhouse commented on #27
@janjarfalk - It looks like the example needs some more updates to be compatible with next-redux-saga v4.

Feel free to open a PR with next.js with v4 API changes.

[2019-02-16 13:27] bbortt commented on #27
@bmealhouse thought the same.
@janjarfalk We're not doing anything different than with `"redux-saga": "0.16.2"`..
We should track this in the `zeit/next.js` issue!

[2019-02-16 17:42] bbortt opened #48 "considerations on stopping saga tasks on server side"
Bug reported [here](https://github.com/bmealhouse/next-redux-saga/issues/27) and [here](https://github.com/zeit/next.js/issues/6308).

[2019-02-16 18:51] bbortt commented on #48
Current behaviour:
[code]
[code]

Problem: If we don't await all tasks to be resolved (`dispatch(END)`) we won't have any data on ssr result.

[2019-02-16 19:09] bbortt commented on #48
Solution I can think of: User has to manually dispatch an action as soon as he loaded all data. We then hook on this action.. I've started something like this [here](https://github.com/bbortt/next-redux-saga/tree/bugfix/considerations-on-stopping-saga-tasks-on-server-side?files=1) but tried to dispatch the action in our hook what (as expected) didn't work.

[2019-02-16 20:20] bmealhouse commented on #48
@bbortt - Why is the saga task stopped on the second request?

The store should be recreated by `next-redux-wrapper` for every SSR request, which would also create a new `sagaTask` for every request. `next-redux-saga` must `dispatch(END)` to return data to the client.

[2019-02-16 20:20] bmealhouse commented on #48
If I find some time this weekend, I will take a look at what's going on.

[2019-02-16 20:35] bbortt commented on #48
@bmealhouse I dont't know why the store is not running. I may take a look at the wrapper tomorrow..

[2019-02-16 20:39] bbortt commented on #48
@bmealhouse Maybe we just need to update the redux-wrapper to 3.0.0-alpha.. I'm on phone and cannot test it rightnow.

[2019-02-16 20:50] bmealhouse commented on #48
@bbortt - Yeah, that's possible. We may need to go to the alpha version of `next-redux-wrapper`. I will let you know if I have time to look at it and what I find.

[2019-02-16 21:08] janjarfalk commented on #48
I did try upgrade the `with-redux-saga` example to next-redux-wrapper@3.0.0-alpha.1. Did not work.

[2019-02-17 08:35] bbortt commented on #48
The mistake must be located in the zeit/next.js example!
I've got a working ssr [here](https://github.com/bbortt/my-little-streaming-dream/tree/master/parent/frontend/web-ui), using `"next-redux-saga": "4.0.0"` and `"redux-saga": "1.0.1`.
That's also where I tested the v4.0 release and therefore why I was so confused about the report. But I've just double checked it this morning and it works 100%.

[2019-02-17 08:35] #48 closed

[2019-02-19 10:31] bbortt commented on #45
Hi @etiennemtl , any progress on this one using the latest releases? I may have time to look a bit into it this week :)

[2019-02-19 14:03] etiennemtl commented on #45
Hi @bbortt, I've updated the example to use the latest release. The page is stuck in an infinite loading loop. You can get the latest code here: https://github.com/etiennemtl/next.js/tree/with-kea-saga/examples/with-kea-saga

[2019-03-01 20:02] wootencl commented on #26
@bbortt I was hoping you were correct in your assumption of server vs client routing but unfortunately I'm seeing this on my end as well. Seems using `call(Router.push, '/insights/overview')` has no affect whatsoever 😞. Will see if I can do some digging, but anyone with knowledge with this package may be better suited for the task than myself.

@jbox5 Assuming you weren't able to get this working?

[2019-03-04 15:05] wootencl commented on #26
Realized the actual logic of this module is ~40 lines of code so domain knowledge probably doesn't really apply 😅.

Slight update though: it would seem that the usage of `call` itself is what's causing the problem. Using the router outside of call (e.g. - `Router.push('/path`) seems to work just fine. Probably move forward with this approach but maybe something worthwhile investigating if someone

[2019-03-04 19:49] wootencl commented on #26
A little embarrassed here, but... I had forgotten to precede the `call` with a `yield` 🤦‍♂️. With a `yield` in front (e.g. -  `yield call(Router.push, '/path');` everything works as expected. Feel free to close this issue

[2019-03-05 16:33] bbortt commented on #26
@wootencl  Thank you very much for posting the solution. I was thinking about this ratter being a `redux-saga` issue, but its solved then 👍

[2019-03-05 16:33] #26 closed

[2019-03-22 15:55] cJayyy commented on #20
Thanks a lot!
This solution looks pretty good to me. :)  👍

[2019-04-02 19:16] etiennemtl commented on #45
Maybe this can help figure out a solution: https://github.com/keajs/kea/issues/60.
Although the problem seems to be on the kea side of things and with the way the register their global plugins.

[2019-04-02 20:22] bbortt commented on #45
Sorry for the (very) late response, I honestly thought I would have written a comment about a month ago.
I did indeed take a look at your project when i wrote [this comment](https://github.com/bmealhouse/next-redux-saga/issues/45#issuecomment-465076788) and thought that the problem must be located in the `kea` code. Because all your redux-saga and next-redux-saga code looked good.
So my suggestion

[2019-04-27 09:09] fangqiao opened #50 "TypeError: Cannot call a class as a function after upgraded to 4.0.1"
My nextjs/redux-saga app works well when I use next-redux-saga 3.0.0.
I upgraded it to 4.0.1, then this problem occured:

[code]

My code for connecting custom app to redux:
[code]
and creating store:

[code]

Advice please. Thanks...

[2019-05-01 05:48] bbortt commented on #50
Hi @fangqiao
Can you share the code for your `Application` as well, please?

[2019-05-01 06:51] fangqiao commented on #50
@bbortt
Sorry can't share whole code base as it is a quite serous project to alive soon.
Here is a simplified App.tsx code which still has the problem:

[code]

[2019-05-01 07:00] bbortt commented on #50
This part `{ async: true }` does no longer exist. Asynchronous ist the one and only way to go now. Maybe this causes the problem. I can try to recreate a similar application this evening. Maybe you will have to help me a little bit ;)

[2019-05-01 07:04] fangqiao commented on #50
I just tested with
[code]
Still same error.
Sure I am happy to help.

[2019-05-01 20:37] emirotin commented on #20
While I understand this thread I'd like to clarify. This thread demonstrates how to await for data load in getInitialProps should I want to do something with the store there (like for example we make some redirects).
But if I _don't_ do this `subscribe` ting this library still guarantees that _server-side_ all async actions/sagas are done before `render` is called. Or not?

[2019-05-01 21:06] bbortt commented on #20
@emirotin Yes, it does.

Given this source code
[code]
And the corresponding test `next-redux-saga/test/server.test.js`
[code]

[2019-05-02 05:15] emirotin commented on #20
Yeah good, that's what I understood. Just wanted to make sure as after migrating to sagas I'm seeing strange issues, but with client-side navigation. Would open a new issue but didn't isolate it yet in a simplified demo app.

[2019-05-02 08:46] bbortt commented on #20
@emirotin no problem. let me know if I can help.

[2019-05-02 11:57] emirotin commented on #20
Thanks @bbortt
Until I can create a repro maybe the symptoms will tell you something.
So SSR always works fine. But when after that I do client-side navigation often the page becomes empty. Sometimes in the network inspector I see the target page's bundle returned with realistic size but the browser tells it cannot read the response

This happens more or less consistently but not on every navigati

[2019-05-03 12:57] bbortt commented on #20
@emirotin this doesn't look like anything to me ;) please open a new issue as soon as you've any news 👍

[2019-05-08 11:02] makarov-foot opened #51 "wait for async data on server"
I have a saga that works fine on client:
`
function* initUser() {
    yield takeLatest(authActionsTypes.LOAD_USER, function* (action){
        const api = yield getContext('api');
        // console.log(api);
        const userData = yield fork(makeSagaRequest(auth.userData), {
            ...action,
            payload: {
                ...(action.payload || {}),
                api,

[2019-05-09 09:23] makarov-foot commented on #51
Sorry for code format:)

I'm trying to implement the basic functionality:
- Get token of user by cookie, fetch user data
- Redirect if user has some params in his data (roles)

[code]

My _app.tsx is wrapped with: withReduxSaga (next-redux-saga) and withRedux (next-redux-wrapper)...
[code]
In getInitialProps of _app.tsx i'm taking cookies and then dispatching "loadUser". In sagas I take from saga'

[2019-05-10 15:46] etiennemtl commented on #45
Ok so i've made some progress, I've manage to make kea-saga work although with some issues, maybe you could help with them pointing me in the right direction.

**store.js**
[code]
**Page.js**
[code]

First issue is how the store `sagaTask` gets registered, the only way I could make this to work is by assigning the task in the `getInitialProps` of each page, with the `connectedLogic` saga. I've tri

[2019-05-11 14:03] bbortt commented on #51
So just for my clarification.. You're suggesting that
[code]
won't be executed. But
[code]
is? Or how are getting the user data into the store on server side?

[2019-05-11 14:14] bbortt commented on #45
Hi @etiennemtl
First of all, I've to admit again that I don't know anything about `kea` nor `kea-saga`.
But, I can help you with the problem to include the `#getInitialProps({ctx})` in every component.

There's a super-component called `_app.js` which wraps all next pages. I'd connect your pages there. And of course, you'll have to pass/call the function in every sub-component again.
What do you m

[2019-05-16 16:01] agustin107 opened #53 "Infinite loop when you use watcher"
I had a weird issue when I use saga watcher, here I leave a bit example:

[code]

[2019-05-16 16:02] agustin107 commented on #53
In the version 3.0.0 this doesn't happen

[2019-05-17 12:26] bbortt commented on #53
Sorry, what exactly is the issue?

[2019-05-17 12:28] bbortt commented on #18
I'll close this due to inactivity.

[2019-05-17 12:28] #18 closed

[2019-05-24 18:28] ioness commented on #20
When we want to await for a saga to finish, we execute it directly, without dispatching an action..

export function executeSaga (saga, ...args) {
  return sagaMiddleware.run(saga, ...args).done
}

That way sagas are responsible for all side effects in the project.

[2019-05-31 12:07] makarov-foot commented on #51
My scenario is:
1) In _app.tsx take token from cookie, load user data because userId is needed.
2) In albums.tsx load albums by userId. Because END was sent to saga it no more responds to any actions, so we can't make the second async request. Is there any way to "revoke" async saga?

[2019-06-03 10:22] bbortt commented on #51
@makarov-foot Thanks for the declaration.

How are you triggering the image load (you mentioned you're doing it in `albums.tsx`) *after* the userid is present? It should definitely be linked to the first saga or the `static async getInitialProps(props)`. Because the API does only await sagas which were started in the `getInitialProps` (on server-side).

Yes, because this project is basically just

[2019-06-03 17:02] jfbaraky commented on #48
Still having this problem with `"next-redux-saga": "4.0.2"` and `"redux-saga": "1.0.2"` :(

[2019-06-04 19:03] dimisus commented on #20
Will this work on the clients side ?

My problem:

async getInitialProps only wait for my sagas to end if I call an async action inside the method - on the server side i do dispatchEND and await sagas.toPromise(), which works great on first page load.

On the clients side though I want to use getInitialProps to hydrate my store and return pageProps. This way I would render only once, but I cannot

[2019-06-06 13:04] bbortt commented on #20
@dimisus no, this is not possible. `saga` is designed to be used asynchronous. store updates will be delivered continuously.

[2019-06-11 10:25] iamdevlinph commented on #20
Adding the code above seems to make the page not load. It's just keeps on loading without any error.

Is there any other way to achieve this?

[2019-06-11 10:33] emirotin commented on #20
The fact that your page does not finish loading is likely an indication something is wrong with your saga, either you're not receiving the data (remote endpoint issue) or you're not properly clearing the `isPageLoading` flag (should it actually be on the root state object and not nested under some _combine_d reducer key?)

[2019-06-11 10:39] iamdevlinph commented on #20
I have narrowed down the code to just:
[code]
But the issue is still there.

The saga I'm calling is connecting to a firebase though. I'll try to use a basic flow for now to test.

[2019-06-11 10:43] iamdevlinph commented on #20
Oh wait. I don't think this is related to sagas.

I have a dispatch just above the `new Promise` code. And the issue only appears when the `store.subscribe()` code is present.

[2019-06-11 10:43] emirotin commented on #20
You can try a helper I've created for this:

[code]

It's also doing the immediate check but given the single-threaded nature of JS it shouldn't be making any difference.

With your most recent example, you'd see the page blocked if the store is never updated since you dispatch the sagas.

[2019-06-11 10:45] emirotin commented on #20
This is the correct code structure and in my understanding, it means your sagas end up not dispatching a single action (that would trigger the subscription).

[2019-06-11 10:49] iamdevlinph commented on #20
Let me provide more code.

The issue occurs in this code.

[code]

But when I remove `store.subscribe()` I don't encounter any issue.

[code]

I have commented out the dispatch so I don't think the saga is the problem anymore.

[2019-06-11 10:58] emirotin commented on #20
But it _is_ the problem because now nothing is updating your redux state so your subscription never fires.

You can narrow down the issue by doing some "normal" dispatch that would update the state through the reducer immediately and keep the subscription, things should work in this case.

[2019-06-11 11:17] iamdevlinph commented on #20
Thanks. I'll give that a try.

[2019-06-11 11:30] iamdevlinph commented on #20
I've tried a very simple dispatch. This action will just change a value from false to true. I didn't even use sagas but the issue is still there.

Though the value is in a nested state and not in a root state.

Does the value need to be in the root for the subscribe to fire?

[2019-06-11 11:37] iamdevlinph commented on #20
But I don't think that's the case, right?

I'll try to create a bare bones repo to replicate the issue again.

[2019-06-11 13:00] emirotin commented on #20
No, the value you're tracking can be anywhere

I'm suspicious something is wrong with your setup because in the last couple of month I've gone through all the possible guesses about what could be wrong with any lib involved (next, next-redux-wrapper, next-redux-saga) until I've found an issue in my own code :D

[2019-06-12 09:50] iamdevlinph commented on #20
Fixed my issue. I was not passing the `initialState` to `createStore`.

[code]

Related read [here](https://github.com/zeit/next.js/issues/1927)

[2019-06-12 09:52] emirotin commented on #20
You also seem to be creating a singleton `sagaMiddleware` outside of this method. That will hit you as sagas won't run on page reload. I had this issue myself and spent _a lot_ of time figuring out what's going on there.

[2019-06-12 09:59] iamdevlinph commented on #20
You're right. I'm having issue now when reloading the page. It works fine when the page is accessed from a link in the app.

I've been using that code every time I do redux.

Here's the full code for reference.
[code]
What changes should I do to fix this?

[2019-06-12 10:07] emirotin commented on #20
Move `const sagaMiddleware = createSagaMiddleware();` inside of the `configureStore` method.

The middleware appears to only run twice so on page reload `sagaMiddleware.run(rootSaga)` does nothing.

Also with the newest version, you don't need

[code]

Simply do `store.sagaTask = sagaMiddleware.run(rootSaga);` instead.

[2019-06-12 10:09] bbortt commented on #20
@emirotin is right. @iamdevlinph please consider reading the latest [README.md](https://github.com/bmealhouse/next-redux-saga/blob/master/README.md).

@emirotin I think we've written it somewhere. Give me a minute, I'll have a look at it.

[2019-06-12 10:11] iamdevlinph commented on #20
Yes that seems to be my failure. I didn't copy the `configureStore` in the [README.md](https://github.com/bmealhouse/next-redux-saga/blob/master/README.md). I was using my own version which I used in my older projects.

[2019-06-12 10:16] bbortt commented on #20
No problem at all @iamdevlinph.

@emirotin I've got the comment i was looking for.. it is (kind of) stated out in the `README.md`:

    \* Recreate the stdChannel (saga middleware) with every context.
     */

Introduced in [this commit](https://github.com/bmealhouse/next-redux-saga/commit/8a7ea8a4603372a78e09bc3c548b7686abe52d61). I think that's enough :)
And just in case someone has problems - i

[2019-06-12 10:24] emirotin commented on #20
Indeed it's there still I've overlooked it or didn't understand the true meaning/importance of it 😕.
And of course, when trying to recreate the issue I've been copying your entire example and didn't spot the difference with our existing code.

[2019-07-10 10:00] pavel06081991 opened #54 "page is rendered before sagas are done on client side"
On the server side render method is called only after sagas from getInitialProps are done. But on the client side render method is not waiting for finishing sagas. Is it a bug or it is expected behavior?

[2019-07-10 10:12] bbortt commented on #54
Hi @pavel06081991
It is an expected behaviour. `redux-saga` is a way of *asynchronously* handling side effects ;)
From the docs:

[2019-07-10 10:12] #54 closed

[2019-07-10 10:45] pavel06081991 commented on #54
@bbortt yep but on the server side render method of pages is waiting for sagas are done when you call sagas in getInitialProps. On the other hand on the client side it is not waiting. Why next-redux-saga has different behavior for the server and the client sides?

[2019-07-10 11:07] bbortt commented on #54
Yes, it is an expected behaviour. Because the initial load (ssr) shall return a full page including all data, so the client can already display something without any white page being displayed. Meanwhile the client will launch `react`, re-render the page and check all data, but this is handled asynchronously. Otherwise we would heavily impact the user experience as he could not navigate the page f

[2019-07-10 11:30] pavel06081991 commented on #54
@bbortt thanks for clarification. Just wanted to be sure that all works good and I've not break anything while using next-redux-saga

[2019-07-10 11:49] bbortt commented on #54
@pavel06081991 no problem :) hope you'll have fun 🚀

[2019-07-16 12:43] Arjun-Aggarwal opened #55 "Cannot read property 'toPromise' of undefined"
I am trying to use redux-saga with next.js for the first time. For this, I have created a simple app. However, after following the example given here: https://github.com/zeit/next.js/blob/canary/examples/with-redux-saga/pages/_app.js
I am getting the error mentioned above. Here is the complete stack trace:
[code]
My code is available on the following repo:
https://github.com/Arjun-Aggarwal/next-tr

[2019-07-16 12:56] bbortt commented on #55
I think you missed the task assignment in `createStore.js` respectively your `store.js`..
[code]
It is required by [`next-redux-saga`](https://github.com/bmealhouse/next-redux-saga/blob/master/index.js) on line 22. With this your example works fine ;)

[2019-07-16 12:56] #55 closed

[2019-07-17 07:02] Arjun-Aggarwal opened #56 "Data fetched using Saga not showing"
I have created a simple Next.js app. I am trying to fetch data in getInitialProps of the index page, storing the data in the store, and then accessing it with the Index component via connect. The data is being correctly fetched and stored into the store; however, I am not receiving the data in the Index component. No error is showing up either.
My code is available at https://github.com/Arjun-Agga

[2019-07-17 07:28] bbortt commented on #56
Youre `createStore` arguments in `redux/store.js` are in the wrong order.. you forgot to include `initialState` ;)
[code]
Like this the updated state (by any reducer) will never reach your store..

[2019-07-17 07:28] #56 closed

[2019-07-17 07:39] Arjun-Aggarwal commented on #56
Thanks a lot

[2019-08-09 17:12] Cretezy opened #57 "Sagas finishing too early"
I have to following setup:

- In `getInitialProps`, I dispatch `fetch`
- A saga listens for the `fetch` action, and runs (this works)
- Once this saga is done, it dispatches another action `fetched` (this works)
- Another saga listen for the `fetched` action (this doesn't work)

It seems like it's finishing too early, and not letting the second action be ran in the sagas.

How could I fix this? Is

[2019-08-11 04:23] Cretezy commented on #57
I currently fixed this by calling the saga directly instead of using an action, although I feel like all actions should be handled before finishing

[2019-08-11 15:51] bbortt commented on #57
Hi @Cretezy
can you please post the root saga?
Br, Timon

[2019-08-11 15:57] Cretezy commented on #57
Roughly:

[code]
[code]

Actual Result:
[code]
Expected Result:
[code]

[2019-08-11 16:07] bbortt commented on #57
The `yield all([ takeEvery, takeEvery])` will exit on first saga finished. You need to start an async thread e.g. using `yield all([ fork, fork])` or `spawn` instead of `fork`. This will wait until all threads return. You'll find it in the [saga docs](https://redux-saga.js.org/docs/advanced/RootSaga.html).
Br, Timon

[2019-08-11 16:09] Cretezy commented on #57
Let me try this and get back to you, thank you!

[2019-08-11 16:14] bbortt commented on #57
Here's an [example](https://github.com/bbortt/qdrakeboo/tree/master/source/frontend/next-js-web-ui/app/state/saga).

[2019-08-15 01:50] ElijahKaftanov opened #58 "Error: It looks like you are passing several store enhancers to createStore(). This is not supported. Instead, compose them together to a single function."
Hello there. I'm trying to use redux-saga in my project from example, but every second iteration redux throws an exception
condition from redux.js:72:11 triggered like: true && true || true && false

Error: It looks like you are passing several store enhancers to createStore(). This is not supported. Instead, compose them together to a single function.
at createStore (/path-to-project/node_modules

[2019-08-15 05:52] bbortt commented on #58
Hi @ElijahKaftanov
I need a bit of code in order to help you.. at least the `configureStore.js`. Or a link to your repo would work as well.
Br, Timon

[2019-08-15 05:53] bbortt commented on #51
Closing this due to inactivity.

[2019-08-15 05:53] #51 closed

[2019-08-15 05:53] bbortt commented on #57
@Cretezy did it work? Would be great to be able to close this issue 🚀

[2019-08-15 05:54] bbortt commented on #50
Closing this due to inactivity.

[2019-08-15 05:54] #50 closed

[2019-08-15 05:54] bbortt commented on #53
Closing this due to inactivity.

[2019-08-15 11:05] ElijahKaftanov commented on #58
found it out: my fault was I passed into the initial state createReducer function instead of calling it :expressionless:

[2019-08-15 11:06] bbortt commented on #58
@ElijahKaftanov glad you made it. issue resolved.

[2019-08-15 11:06] #58 closed

[2019-08-17 17:21] Cretezy commented on #57
Haven't had time to test this since I reverted to calling the saga itself.

[2019-09-18 14:50] dhovart opened #59 "Root saga run multiple times server-side"
I'm using next-redux-saga along with next-redux-wrapper. I've followed the instructions and created a `configureStore` function where I initialize my store, create the saga middleware and attach my root saga to the store with `store.sagaTask = sagaMiddleware.run(rootSaga)`.

But I've discovered that next-redux-wrapper recreates the store several times on the server. The result is that my sagas are

[2019-09-18 14:55] dhovart commented on #59
It's basically the same issue as this one: https://github.com/kirill-konshin/next-redux-wrapper/issues/122
But there is no satisfying answers.

[2019-09-18 15:48] bbortt commented on #59
Hi @dhovart
Can you provide some code, please?

[2019-09-18 16:21] dhovart commented on #59
Sure thing.

store/init.ts

[code]

store/sagas.ts

[code]

store/reducers.ts

[code]

pages/_app.tsx

[code]

And an example of a saga called several times, AuthSaga.ts :

[code]

or HomepageSaga.ts:

[code]

I've not included everything, but whenever I log the axios calls, I can see that there are several calls to the homepage endpoint and the oauth-state endpoint. The number of time this appear

[2019-09-18 16:21] bbortt commented on #59
thx. i'll have a look at it shortly 🚀

[2019-10-02 08:14] dhovart commented on #59
@bbortt Any news on this ? Thank you

[2019-10-02 14:13] bbortt commented on #59
Sorry @dhovart I was busy and totally forgot about this.
I remember I looked into the snippets above and thought it looks good, except for I don't know what the impact of `compose` is. I usually write it like this:
[code]
I think I've got a working example [here](https://github.com/bbortt/qdrakeboo/tree/master/source/frontend/next-js-web-ui): You can check my code.

[2019-10-03 16:07] dhovart commented on #59
Yes, I don't see anything wrong with this code either… But the issue is that my sagas are rerun several times on the server.

I'll try to put together a small repo tonight so that you can see for yourself.

`compose` is just a small utility that composes functions together, it shouldn't have any impact.
https://github.com/reduxjs/redux/blob/master/src/compose.ts#L101
It boils down to what you're a

[2019-10-03 20:26] dhovart commented on #59
I've created a repository here: https://github.com/dhovart/next-redux-saga-multiple-calls

You can see my root saga is called multiple times at startup (I guess every time the store is recreated by next-redux-wrapper). On the current project I'm working on, we're logging the requests, and sometimes it's just spamming the terminal (there can be 10+ in a row).

[2019-10-04 07:52] bbortt commented on #59
what I've investigated so far:
[code]
this seems to be an issue with either `next-redux-wrapper` or I think rather `next.js` itself. because the second initialization of the store does not even trigger `next-redux-saga` anymore.
requesting help from @bmealhouse at this point.

[2019-10-04 08:06] bbortt commented on #59
So in my application it looks like this:
[code]
see, there is no `_app#getInitialProps` the second time. no chance for us to catch this. the problem is not located in our hook, I'm 100% sure.

[2019-10-04 08:46] dhovart commented on #59
Thank you for investigating !
I've tried (without much hope) storing the initial task and reattaching it later on to the store but it's not working.
See: https://github.com/dhovart/next-redux-saga-multiple-calls/commit/8bc2228ebe209f8ca2c62f94282dcec426f6253e

I guess it's because it's dispatching action to the previous store or that it loses its reference to it…

[2019-10-04 09:12] bbortt commented on #59
The saga (it's a channel) is destroyed by dispatching `END`. You won't have any chance to restore it ;)

[2019-10-09 21:22] dhovart commented on #59
Ah right, I feel stupid saying this but I hadn't really looked at how the HOC worked.

[2019-10-15 11:56] JoaoFGuiomar opened #60 "Async dispatch in getInitialProps"
Pretty sure I had this working before... but for some reason right now when I dispatch an action in getInitialProps it doesn't seem to wait for the saga to finish.

I am dispatching an action in `_app.js` `getInitialProps` before
`const pageProps = Component.getInitialProps ? await Component.getInitialProps(ctx, isLoggedIn) : {};` that should trigger a saga to get some customer info.

Inside anoth

[2019-10-15 13:43] bbortt commented on #60
We're indeed having problems with the root saga.. Please track #59 for more information.
Closed as duplicate.

[2019-10-20 01:57] bbortt commented on #59
@kirill-konshin helped me out with this:

the initial state when creating the store in `const configureStore = (state = initialState) => {` is `state === undefined || initialState`. then it will be `state === initialState || whateverTheStateWasModifiedTo` in the second initialization.

@bmealhouse we should probably add and check a property in the state (something like `state.saga.initialized = tr

[2019-10-20 12:53] bbortt commented on #59
Closing this as `won't fix`.
We (as a HOC) can neither access nor modify the current application state. The user must take care of a good implementation by his own. I've updated the documentation. An example implementation is available in [`bbortt/qdrakeboo:8e39ae13274768d6e6a36a883efb05d01bb67b1d`](https://github.com/bbortt/qdrakeboo/commit/8e39ae13274768d6e6a36a883efb05d01bb67b1d).

[2019-10-20 12:53] #59 closed

[2019-10-20 14:31] Druux commented on #53
@agustin107 did you manage to fix it somehow? I am facing the same problem.

This doesn't work (leads to infinite loop and page doesn't get rendered):
[code]

But this does work (no infinite loop and page is rendering):
[code]
@bbortt Are you familiar with it or do you have any ideas where my problem is?

[2019-10-20 15:38] bbortt commented on #53
if I understand your code right, it logs `done` to the console on any dispatched event? how are you starting the `watcher()`?

[2019-10-20 16:09] Druux commented on #53
@bbortt Sure I will do it asap.
In the meantime you can look up the WebSockets example, which is provided [here](https://redux-saga.js.org/docs/advanced/Channels.html). Thats the concept I am using. It is pretty straight forward.

[2019-10-20 17:11] Druux commented on #53
@bbortt here you go https://github.com/Druux/with-redux-saga

[2019-10-20 17:14] bbortt commented on #53
perfect! i'll look at it tomorrow ;)

[2019-10-21 07:05] bbortt commented on #53
Ah I think I already found the problem without checking your code.. Because we await the sagas to finish by dispatching `END` to the (saga) channel server side. See our `index.js` and my editted [fiddle](https://jsfiddle.net/93qjnrzo/2/):

[code]

Seems like the channel responds as "finished" if you yield an action before the loop.
The problem with the `while (true)` is, it would run infinitely on

[2019-10-21 08:38] bbortt commented on #53
hm ok. first, let's catch up on my understanding of what you want to achieve:
[code]

And I'm stuck here:

Why would you want to react to something server side? In my understanding, the use of server side rendering is to present a *more or less* up to date page as soon as the user receives the html. Instead of having a blank page for < 1 sec before all the JS was loaded (or displaying a loading sc

[2019-10-21 08:51] Druux commented on #53
Your example fits my use case pretty well.
But I am not sure if thats the way channels are supposed to work.
According to the redux-saga docs they say

So that means that I have to open a new channel upon a new message has been sent. But how do I know when the message will be or has been sent? I can't emit any event to the redux-saga task if I don't have an active channel running.

No no no. Sorry

[2019-10-21 10:20] bbortt commented on #53
I don't see any reason to keep the channel alive (or even start it) on the server side. those milliseconds it takes to render really won't make an impact. something like this (look at it as a flow diagram):
<table>
<tr>
<td>[ client ]</td>
<td>[ next.js / ui]</td>
<td>[ api ]</td>
<td>[ push socket]</td>
</tr>
<tr>
<td>visit url</td>
<td>render</td>
<td>history</td>
<td/>
</tr>
<tr>
<td>display</t

[2019-10-21 11:28] Druux commented on #53
That really did the trick. It seems like I had some serious troubles unterstanding that the server channel shouldn't be persitent. So your statement

really helped me out understanding what I have done wrong.

To some it up for everyone else, thats the important part:

[code]

@bbortt Thank you very much for helping me out in such a nice way. It's greatly appreciated.

We can close the issue at th

[2019-10-21 11:34] bbortt commented on #53
no problem at all.. glad I could help 🚀
see you around

[2019-10-21 11:34] #53 closed

[2019-10-21 16:38] JoaoFGuiomar commented on #60
@bbortt since #59 closed as a `won't fix` any chance on a more detailed reply about this one?

Is there any way to make async dispatch of actions?

[2019-10-21 16:43] bbortt commented on #60
Sure, will take a look at it right away. Gimme some minutes ;)

[2019-10-21 17:02] bbortt commented on #60
Just pretty sure or sure? I can hardly imagine that this works every time! Think about a high ping to your backend and the (by design) asynchronous `saga` will never finish before the second `getInitialProps`. However I am aware that `saga` was running synchronous before version `2.0.0`, I think (not sure which exact version, but a major release for sure). Maybe you updated this dependency as well

[2019-10-22 08:22] JoaoFGuiomar commented on #60
Sure does. Thanks!

My work around was to make an action that does all the things I need for that specific  case and just call that single action in `getInitialprops`.
This action will trigger a saga that will do a couple of fetches and get what I need.

👍

[2019-10-22 08:55] bbortt commented on #60
Great! 🚀

[2019-10-22 08:55] #60 closed

[2019-11-11 00:56] bjoluc opened #62 "Running the root saga only once"
Hi everyone,
I took a look at #59 and #61. From what I understand, next-redux-wrapper creates three stores per request:

1. On the server: During the app's getInitialProps (the state can be modified here and will be serialized in the end)
2. On the server, during SSR: The state from 1. is used to provide a store for SSR – state changes made during SSR will not be sent to the client, only the seria

[2019-11-11 06:23] bbortt commented on #62
Aight, that might be. I've shortly tested the commit I once tagged and the saga seems indeed not to start on the client side. Seems like I haven't tested it enough as I've migrated away from a custom server to static pages. Which is actually, what I would recommend to everyone.
But I'd be happy to accept your pr ;)

[2019-11-13 15:12] #62 closed

[2019-11-13 15:40] bbortt commented on #57
Think this might be solved in `v4.1.1`. Closing due to inactivity.

[2019-11-13 15:40] #57 closed

[2019-11-13 15:40] bbortt commented on #62
Released in `v4.1.1`. Thanks one last time @bjoluc ;)

[2020-01-25 23:33] tunesmith opened #64 "store.sagaTask incompatible with typescript?"
Hi, after following these instructions:

[code]

and renaming my store.js to store.ts, I found that the first line wouldn't work because of an unresolved promise (see #55), and the second line wouldn't work because Typescript doesn't like dynamically creating the "sagaTask" field on the store object.

Is there another way to ensure the sagaMiddleware completes without assigning it to store.sagaTas

[2020-01-26 11:32] bbortt commented on #64
As long as you do not want to write all the boilerplate code yourself, not there is not. It comes from this line in `next-redux-saga/index.js`
[code]
and makes sure you wait until all saga tasks have completed, before rendering the page.
Two points to consider:
* SSR is rather outdated, and I personally don't use `next-redux-saga` any more. `next.js` has migrated over to static page (pre-) renderi

[2020-01-27 00:39] tunesmith commented on #64
@bbortt Would you be willing to explain what you mean by SSR being outdated? As more of a backend guy I'm still learning specifics here. I understand the basic differences between CSR, SSR, and SSG, but by static page rendering do you mean SSG? How does saga relate to SSG? For my purposes, I definitely want client-side interactivity (that uses api data sources) after the content is loaded. Since I

[2020-01-27 08:22] bbortt commented on #64
Hi @tunesmith

Sure thing, I will try!

By static page rendering I mean you run `next build` and `next export` and `next.js` will render your basic pages into different HTML files. This has several advantages over server side rendering (that is `next start`), for example you won't need a server.

From [this Auth0 article](https://auth0.com/blog/ultimate-guide-nextjs-authentication-auth0/):

The go

[2020-01-27 09:19] tunesmith commented on #64
Ok, thanks! I see what you mean now - that more seems a case for client-side rendering (it was confusing me that NextJS was calling this SSG) over server-side rendering. I agree with you about most cases, but in the cases where SSR is still warranted, it seems that is where next-redux-saga is useful (when using nextjs, SSR, and saga).

So this issue is specifically about store.sagatask. I understa

[2020-01-27 09:23] bjoluc commented on #64
@tunesmith You can trick TypeScript to accept the `sagaTask` assignment by writing
[code]
Maybe, an alternative would be to augment the redux store type, but since you won't need to manually access `sagaTask` this wouldn't be more helpful than tricking TypeSript at this place.

[2020-01-27 09:29] bjoluc commented on #64
Two options here:

* a) `next-redux-saga` provides a separate TypeScript example with the `(store as any)` cheat
* b) `next-redux-saga` augments the redux store type accordingly

@bbortt @bmealhouse What do you think?

[2020-01-27 12:15] bbortt commented on #64
No problem @tunesmith. Sure you can cast it as `any` but this is rather unsafe. I think the `redux` store is typed in TypeScript. A better way would be to write & assign your own type. An extension of the store type.

@bjoluc I honestly dont know how TypeScript types will be exported when packing the project. But it's not a too big task to rewrite the project in `.ts`.

[2020-01-27 14:04] bjoluc commented on #64
You won't get an error if you misspell `.sagaTask = sagaMiddleware.run(rootSaga)`, but that should be it, shouldn't it?

Yes, `redux` provides its own type definitions. With `strict` type checking, however, providing an extended `store` where a plain `store` is expected will result in errors, AFAIK. Hence the augmentation thing...

Oh right, there's nothing about TypeScript in this repo, whoops! Y

[2020-01-28 12:17] bbortt commented on #64
Sure, I'd be happy to accept pull-requests at any time :)

[2020-02-12 22:39] cddumanov commented on #62
I have weird state overrides. Is it possible that it caused because I have multiple root sagas?

For example here is the start of fetch doctors action. As you see state was changed for doctor isLoading: false to isLoading: true
![image](https://user-images.githubusercontent.com/43003794/74384023-130c7380-4df9-11ea-883b-f1994d1a1c42.png)
After that fetch cities action was started right before. And

[2020-02-13 10:38] bbortt commented on #62
*Quick side note: Please open a new Issue next time. This one was closed and your problem is not really related to it.*

Anyways: I guess the problem probably lies in your reducers. You need to return the currenct `state` rather than the `initialState`. If the `state` was `null` or `undefined`, `initalState` would be assigned by the definition of your reducer. Because state is immutable you need t

[2020-02-13 10:55] zurez opened #65 "Sagas are not fired not even once."
**package.json**

`  "dependencies": {
    "@material-ui/core": "latest",
    "@material-ui/icons": "latest",
    "aws-amplify": "^2.2.4",
    "connected-next-router": "^2.0.0-alpha.3",
    "dotenv": "^8.2.0",
    "next": "9.2.1",
    "next-cookies": "^2.0.3",
    "next-offline": "^5.0.0",
    "react": "16.12.0",
    "react-dom": "16.12.0",
    "react-redux": "^7.1.3",
    "redux": "^4.0.5",
    "

[2020-02-13 10:55] zurez commented on #65
Additional Information:
Redux flow is good.

[2020-02-13 10:58] zurez commented on #65
Bad reporting of issue. Will post the issue again.

[2020-02-13 10:58] #65 closed

[2020-02-14 12:31] bbortt commented on #45
Tag: `stale`

[2020-02-15 08:24] cddumanov commented on #62
@bbortt You pointed to the exact problem. Thanks a lot!

[2020-03-02 17:29] rehan-sattar opened #66 "Redux State is not updated when store.dispatch() is called from getInitialProps in _app.js"
Hi, I'm having an issue related to dispatching actions from `getInitialProps` . I have an application which is using redux saga. Everything works well. When I dispatch an action from the `_app.js` file. The action is dispatched and everything is okay till the reducer. Now the reducer is getting the `payload` but it's not updating the redux store's state.

Here is my `_app.js`
[code]

Can anyone he

[2020-03-02 17:40] bbortt commented on #66
Can you post the reducer's code too, please?

[2020-03-02 17:42] rehan-sattar commented on #66
[code]

[2020-03-02 18:01] bbortt commented on #66
Many thanks.

That is as expected. This library (or rather `zeit/next.js`) does support server side rendering (which the method `getInitialProps` was made for). The initial trigger will render your page once on the server side (e.g. invoke `getInitialProps`) and then again if you change the route on client side.

However, I think you ran into this:
[code]
Since `redux` is based on channels, we can

[2020-03-02 18:13] rehan-sattar commented on #66
Okay, I understand, For now I have resolved it by using `componentDidMount` .
I have access to the browser api here & the dispatching of action is working similar to client side. As It's running on client I guess.

[code]

[2020-03-02 18:21] bbortt commented on #66
Yea, `componentDidMount` will be executed on the client side, there you can fetch your data ;) I'd recommend using *synchronous* calls when server side rendering only for the most important requests (like access checks). Then fetching the rest on client side.. clients these days are fast as f*** anyways ;)
No problem.

[2020-03-02 18:21] #66 closed

[2020-03-13 07:20] #45 closed

[2020-04-05 19:28] bbortt opened #70 "dependency upgrades (peers?) and release a new version"
@dependabot already reported outdated dependencies in #69 . there are sure more. take a look at them, upgrade necessary ones and release if required.

[2020-05-05 10:10] myasul opened #71 "After dispatching an action the saga returns prematurely"
I am running this code in the server-side of our project. What it does is to fetch all the pizzas in a menu then waiting if the saga for the action I first dispatched succeeded. It will then fetch the default selected pizza after. But it seems that it is returning prematurely and not waiting the `take` action to finish (I also tried race but got the same result.

Am I missing something? I tried us

[2020-05-05 13:58] bbortt commented on #71
you cannot await sagas: `redux-saga` is explicitly for handling *asynchronous* side-effects. It is therefore impossible for this library to know which of your sagas it should await and which not (as for example the root-saga runs infinite). that's why anything after the `dispatch(END)` will not run on serverside.
does this clarify the behavior?

[2020-05-06 00:40] myasul commented on #71
Thank for your quick response!

I'm sorry for the newbie questions, I'm just quite confused. When does the dispatch(END) being called? The above code works perfectly on the client-side. What it does is it dispatches the FetchAllPizzaAction then the `yield take` awaits for the success action from the `FetchAllPizzaAction` to be dispatched.

Creates an Effect description that instructs the middlewar

[2020-05-06 08:35] bbortt commented on #71
No problem at all. I'm trying to help as good as I can.
So, this library wraps your application using a so called HOC (higher order component). This allows us to intercept `getInitialProps` and then stop `redux-saga` on server side only. If we wouldn't, the `redux-saga` would run infinite and end in a stack overflow at any point.
That's why it works on client side.

Our code is located in one sing

[2020-05-07 00:49] myasul commented on #71
Great explanation! It all makes sense to me now. I got it working as well. Thanks a lot again for the time!

[2020-05-07 00:49] #71 closed

[2020-05-07 06:52] bbortt commented on #71
No problem at all. Glad I could help!

[2020-05-17 21:16] einaralex commented on #71
@myasul Could you explain how you managed to solve this? I'm having the exact same problem.

[2020-05-20 15:24] sivakumarjsl opened #72 "Image and css not working"
css  error  when i was import file in _app.js. like you need a proper loader for this css. and image(public folder) also not appearing in inside the page folder file.

[2020-05-20 19:04] bbortt commented on #72
that's clearly not a `next-redux-saga` problem. you need to take a look at [webpack `css-loader`](https://webpack.js.org/loaders/css-loader/) (for css) and/or [webpack `url-loader`](https://webpack.js.org/loaders/url-loader/) (for images or similar) ;)

[2020-05-20 19:04] #72 closed

[2020-05-22 22:35] dxit opened #73 "takeLatest doesn't execute the generator function on server"
This code works perfectly on client, but it gets stuck on server side:

**sagas.ts**
[code]

**homepage.tsx**
[code]

So, apparently, `yield takeLatest(HomepageTypes.REQUEST, handleHomepage)` executes correctly the action (`HomepageTypes.REQUEST`), but it doesn't execute `handleHomepage`.
I suppose so because `HomepageTypes.REQUEST` sets`homepage.loading` on `true` and I can test it with the `cons

[2020-05-23 12:52] bbortt commented on #73
Maybe [this explanation](https://github.com/bmealhouse/next-redux-saga/issues/71#issuecomment-624515716) will help you.

I actually wonder that the `console.log` in this part
[code]
does work on client side. Your API request must respond insanely fast :D

If you need to preload any data (e.g. security concerns or similar) you need to do that synchronously.

[2020-05-23 14:07] dxit commented on #73
Thank you for the quick response :)
Actually, I see the `console.log` in the terminal, not on the browser console, so it would be on the server side.

The idea is to load the Meta information before the page is rendered (for SEO reasons). Would you recommend another way to archive it? Maybe my approach is wrong.
I mean, for the homepage I can preload the information. However, I need to load dynami

[2020-05-24 13:44] bbortt commented on #73
ah ye, so the state's correctly reduced. however `redux-saga` does not execute the same way on the server side, as it does on the client side.

[code]

if you *need* to load any data while ssr you must call your api synchronously. the problem with asynchronous tasks is that you cannot know how long they take. and if your request takes 30 seconds because of a server side data loading, where is the

[2020-05-25 10:03] dxit commented on #73
Alright, I think I need to review my plans for this project 😓.
Nevertheless, thank you very much for your support man 👍

[2020-05-25 14:19] bbortt commented on #73
No problem. I'll close this for now. Feel free to reopen it if you got further questions.

[2020-05-25 14:19] #73 closed

[2020-06-03 15:49] deresegetachew opened #74 "Readme. Project Description"
Hello;

As it is my project with nextjs and redux-saga works find and I was wondering the use of this library.
I think it will be good if there was a description on the readme, why this library exists, what problem it solves, and why one wants to use, and when to avoid it.

[2020-06-04 05:23] bbortt commented on #74
I wonder - do you use server side rendering? Or do you export your app into static pages?
Because the goal of this project is for the first mentioned. There you need some utility to start, await and stop `redux-saga` on server side.
`redux-saga` alone works completly fine in the second case.

[2020-06-08 00:38] tkstang opened #75 "Next 9.3+ Compatibility"
Are there currently any plans to update documentation and release a version compatible with Next 9.3's getServerSideProps?

[2020-06-08 14:57] bbortt commented on #75
not yet. haven't been using Next.js recently. open for any PRs.

[2020-06-17 11:42] bbortt commented on #75
In case you're wondering I just started working on it: https://github.com/bbortt/next-redux-saga/tree/feature/upgrade-to-next-9-4.
Need a little time to fix the tests.

[2020-06-25 14:30] BernardA opened #76 "outdated read.me & questions"
I spent quite some time trying to implement this by following your read.me and got all types of errors.

Then I found out that some of the setup used in read.me is outdated, mostly from version 6 of `next-redux-wrapper`, namely:
- store no longer get initialState
- need to handle HYDRATE action in reducer
- App no longer needs to wrap children with `Provider`
- isServer is not passed on props
- st

[2020-06-25 19:22] fostyfost commented on #76
Hi, take a look at my example, maybe it will answer some of your questions.  https://github.com/fostyfost/next-with-redux-dynamic-modules

[2020-06-25 20:43] bbortt commented on #76
I am heavily trying to update this repository, but examinations keeping me busy.. sorry. will come as soon as possible! (already forked and started a branch. basically only tests missing).
for your question regarding not extending `App`: `next.js` has put heavy focus on static pre-rendering and exporting of pages. extending `App` (data fetching via `getInitialProps`) makes this impossible and auto

[2020-08-02 13:12] bbortt commented on #75
PR #78 was opened. happy for feedbacks.

[2020-09-06 08:09] bbortt commented on #75
Released in [`next-redux-saga@beta`](https://www.npmjs.com/package/next-redux-saga/v/5.0.0-0).

[2020-09-06 08:09] #75 closed

[2020-09-10 05:54] bbortt opened #79 "STOP MAINTAINING THIS REPOSITORY"
hi @bmealhouse

I think at this point it does not make sense to continue supporting this repository. `next.js` has grown massively and other packages with bedder support have covered this functionality (ssr with `redux-saga`) already.

from the `README.md` of [`next redux-wrapper`](https://github.com/kirill-konshin/next-redux-wrapper).

When Next.js static site generator or **server side rendering

[2020-09-11 01:30] bmealhouse commented on #79
@bbortt - I agree and I'm on board with this. Thanks again for all the time and effort you've contributed to maintaining this library.

[2020-09-11 07:06] #79 closed

[2020-09-12 01:53] #70 closed

[2020-09-12 01:53] #74 closed

[2020-09-12 01:54] #64 closed

[2020-09-12 01:54] #76 closed